//color
$black-color: rgb(12, 12, 12);
//mixin
@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin input {
  border-radius: 10px;
  border: none;
  border-bottom: 1px solid #000000;
  padding: 5px;
  outline: none;
  margin-bottom: 15px;
  font-size: medium;
}
